<!DOCTYPE html>
<html>
    <head>
        <title>SqlRunner | Error</title>
        <meta http-equiv="Content-Security-Policy" content="default-src 'none'; style-src {{csp_source}}; script-src 'nonce-{{nonce}}';">
        <link href="{{media_uri 'datatables.min.css'}}" rel="stylesheet" />
        <link href="{{media_uri 'main.css'}}" rel="stylesheet" />

        <script nonce="{{nonce}}" src="{{media_uri 'datatables.min.js'}}"></script>
    </head>

    <body>
        <div class="content">
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
        </div>
    </body>
</html>